.skills_flex img {
    width: min-content;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    color: #609758;
}

.programming img, .webdev img, .environments img {
    width: 200px;
}

.programming, .webdev, .environments {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}