body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.nav_links {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav li {
    padding: 20px;
}

header a {
    font-size: 30px;
    color: #609758;
    text-decoration: none;
    padding: 20px;
}

.nav_item a:hover {
    background-color: lightgray;
    /* font-weight: bold; */
    text-decoration: none;
    border: none;
}

ul.nav_links {
    justify-items: flex-start;
}

.name a{
    font-size: 30px;
    padding: 10px;
    border: none;
}

#current {
    font-weight: bold;
}